{% extends 'home.html.twig' %}

{% block title %}Création d'un Site {%  endblock %}

{% form_theme form 'site/_collection.html.twig' %} 
{% block row_x_title %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau Site</h1>
        
        {{ form_start(form) }}
           
            {{form_widget(form)}}

            <button type = "submit" class="btn btn-primary">Créer le nouveau Site</button>
        {{ form_end(form) }}
        
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/site.js"></script>
{% endblock %}
