<!--<footer>
    <div class="pull-right">
    CLEVER Power Control Solution Interface Engineered By <a href="https://cleverelectric-company.com">CLEVER ELECTRIC Company Ltd</a>
    </div>
    <div class="clearfix"></div>
</footer> -->

<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2029 <a href="https://cleverelectric-company.com">Clever Electric Company Ltd</a>.</strong> All rights
    reserved.
</footer>