<!DOCTYPE html>
<html>
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %} CECO | 404 Page non trouvé{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <link rel="icon" href="/img/CeCo_favicon.jpg" type="image/ico" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <style>
    html{
        height: 100vh;
    }
    body{
        min-height: 100vh;
        margin: 0;
        padding: 0;
        /*background-color: silver;*/
    }
    footer{
        margin-top: 200px;
        margin-right: 0px;
        margin-left: 2;
        margin-bottom: 0;
        
    }
  </style>
</head>
<body class="hold-transition sidebar-mini"><!-- class="hold-transition sidebar-mini" -->
<div class="wrapper" >

  {% set color = 'warning' %}
    
  <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid" > <!-- class="content-wrapper"-->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{% block code_error_page %}404 Error Page{% endblock %}</h1>
                </div>
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">404 Error Page</li>
                    </ol>
                </div> -->
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                {% block code_error %}<h2 class="headline text-warning"> 404</h2>{% endblock %}

                <div class="error-content">
                <h3>{% block error_page %}<i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.{% endblock %}</h3>

                {% block error_message %}
                <p>
                    We could not find the page you were looking for.
                    Meanwhile, you may <a href="javascript:history.back();">return to preview page</a> or try using the search form.
                </p>
                

                <form class="search-form">
                    <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" name="submit" class="btn btn-{{color}}"><i class="fas fa-search"></i>
                        </button>
                    </div>
                    </div>
                    <!-- /.input-group -->
                </form>
                {% endblock %}
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer style="margin-right: 5px; height: 5px; padding: 10px 10px 1px 10px"> <!-- class="main-footer" -->
    <hr>
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020 <a href="https://cleverelectric-company.com">Clever Electric Company Ltd</a>.</strong> All rights
    reserved.
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
</body>
</html>